extends layout

block content
  h1= title
  p Welcome to #{title}
  .main.container
    .row
      .col-md-12.col-md-offset-3
        table(class='table')
          thead
            tr
              th(colspan=2) Domain 1
              th(colspan=2) Domain 2
          thead
            tr
              td ID
              td Name
              td ID
              td Name
